
# Logs
# ----------------------------------------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Directorio de dependencias. ¡El más importante!
# ----------------------------------------------------------------
node_modules

# Directorio de build (archivos generados para producción)
# ----------------------------------------------------------------
dist
dist-ssr

# Archivos de caché y temporales de Vite
# ----------------------------------------------------------------
.vite
.next
.nuxt
*.tsbuildinfo

# Archivos de variables de entorno. ¡Nunca subas tus secretos!
# ----------------------------------------------------------------
.env
.env.local
.env.*.local

# Archivos de configuración de editores de código
# ----------------------------------------------------------------
.vscode/*
!.vscode/extensions.json
.idea
.sublime-project
.sublime-workspace

# Archivos generados por el sistema operativo
# ----------------------------------------------------------------
.DS_Store
Thumbs.db